In [1]:
import importlib
import utilities.utils
import utilities.metrics
importlib.reload(utilities.utils)
importlib.reload(utilities.commonly_used_libraries)
importlib.reload(utilities.metrics)
import pandas as pd
import datetime as dt

In [3]:
from utilities.libraries import *
from utilities.connections import *
from utilities.utils import *
from utilities.commonly_used_libraries import *
from utilities.metrics import *

In [4]:

## When You Run The Report

report_run_date = dt.datetime.today()
run_date=report_run_date.day

## Get the Previous Month End | Reporting Period End Date
period_end=report_run_date-pd.DateOffset(days=run_date)

## Get the Reporting Period Start Date
period_start=(period_end-pd.DateOffset(months=3)).floor('d')-pd.offsets.MonthBegin(1)
period_start

## Get the Reporting Month
reporting_month=period_end.floor('d')-pd.offsets.MonthBegin(1)
reporting_month=reporting_month.strftime("%Y-%m-%d")
period_start
#period_end

Timestamp('2022-04-01 00:00:00')

In [5]:
sd=period_start.strftime("%Y-%m-%d")
ed=period_end.strftime("%Y-%m-%d")
print(sd,ed)

2022-04-01 2022-07-31

In [8]:
%%time
acq_raw= fetch_data("acquisition_raw.sql", connection ="OMS_snapshot",start_date=sd,end_date=ed)

CPU times: user 8.81 ms, sys: 8.48 ms, total: 17.3 ms
Wall time: 28.7 s

In [9]:
acq_raw.head()

,month,geo_region_id,customers,customer_less_2,customer_greater_3,orders,orders_less_2,orders_greater_3,customers_m_1,customer_less_2_m_1,customer_greater_3_m_1,orders_m_1,orders_less_2_m_1,orders_greater_3_m_1,customers_m_2
0,2022-04-01,1,31690,29214,2476,45298.0,33403.0,11895.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-01,2,37241,33551,3690,56968.0,38900.0,18068.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-01,3,43637,40423,3214,62895.0,46249.0,16646.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-04-01,4,28941,27198,1743,38530.0,30696.0,7834.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-04-01,5,20360,18637,1723,30127.0,21373.0,8754.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
acq_raw.to_csv('acq.csv',index=False,header=True)

In [11]:
reporting_month=period_end.floor('d')-pd.offsets.MonthBegin(1)
reporting_month=reporting_month.strftime("%Y-%m-%d")
reporting_month

'2022-07-01'

In [12]:
acq_raw['month'] = pd.to_datetime(acq_raw['month']).dt.strftime('%Y-%m-%d')
acq=acq_raw.loc[acq_raw['month'].isin([reporting_month])]

In [13]:
acq.to_csv('acq.csv',index=False,header=True)

In [14]:
def get_sqlalchemy_engine():
   engine_query = (f"""postgresql+psycopg2://anant:Resfeber123@commons-prod-redshift.porter.in:5439/porter""")
   engine = create_engine(engine_query, echo = False)
   return engine
def write_to_redshift(table_name,  dataframe,  engine, schema):
   dataframe.to_sql(table_name,  engine,  if_exists = 'append',  chunksize = 1000,  index = False)
redshift_engine = get_sqlalchemy_engine()

In [15]:
acq

,month,geo_region_id,customers,customer_less_2,customer_greater_3,orders,orders_less_2,orders_greater_3,customers_m_1,customer_less_2_m_1,customer_greater_3_m_1,orders_m_1,orders_less_2_m_1,orders_greater_3_m_1,customers_m_2
45,2022-07-01,1,30511,28194,2317,43750.0,32119.0,11631.0,6255.0,4549.0,1706.0,17259.0,5683.0,11576.0,3132.0
46,2022-07-01,2,39048,35522,3526,58150.0,40893.0,17257.0,9272.0,6371.0,2901.0,27331.0,8206.0,19125.0,4963.0
47,2022-07-01,3,53391,49544,3847,75673.0,55968.0,19705.0,11082.0,7888.0,3194.0,33377.0,9894.0,23483.0,5542.0
48,2022-07-01,4,29613,28004,1609,38699.0,31393.0,7306.0,5465.0,4328.0,1137.0,12068.0,5405.0,6663.0,2337.0
49,2022-07-01,5,22122,20243,1879,32761.0,23114.0,9647.0,5244.0,3697.0,1547.0,16290.0,4696.0,11594.0,2516.0
50,2022-07-01,6,9094,8202,892,13582.0,9651.0,3931.0,2365.0,1652.0,713.0,6832.0,2116.0,4716.0,1300.0
51,2022-07-01,7,2150,2047,103,2744.0,2279.0,465.0,298.0,245.0,53.0,572.0,299.0,273.0,141.0
52,2022-07-01,8,11375,10509,866,16105.0,12002.0,4103.0,2147.0,1522.0,625.0,5645.0,1930.0,3715.0,1006.0
53,2022-07-01,9,2442,2223,219,3535.0,2604.0,931.0,556.0,420.0,136.0,1315.0,537.0,778.0,192.0
54,2022-07-01,10,3885,3556,329,5599.0,4058.0,1541.0,673.0,464.0,209.0,1999.0,587.0,1412.0,356.0
55,2022-07-01,11,1936,1806,130,2638.0,2058.0,580.0,398.0,288.0,110.0,934.0,364.0,570.0,190.0
56,2022-07-01,12,2283,2143,140,2953.0,2400.0,553.0,484.0,355.0,129.0,1187.0,448.0,739.0,187.0
57,2022-07-01,13,974,915,59,1287.0,1034.0,253.0,128.0,92.0,36.0,292.0,122.0,170.0,49.0
58,2022-07-01,14,801,746,55,1082.0,849.0,233.0,94.0,77.0,17.0,184.0,91.0,93.0,26.0
59,2022-07-01,15,766,723,43,955.0,799.0,156.0,60.0,50.0,10.0,117.0,63.0,54.0,22.0

In [16]:
ps=period_start-pd.DateOffset(months=1)
ps=ps.strftime("%Y-%m-%d")
ps

'2022-03-01'

In [17]:
sd=ps
ed=period_end.strftime("%Y-%m-%d")
print(sd,ed)

2022-03-01 2022-07-31

In [39]:
%%time

ret_raw= fetch_data("retention_raw.sql",connection ="OMS_snapshot",start_date=sd,end_date=ed)

CPU times: user 15.4 ms, sys: 9.06 ms, total: 24.5 ms
Wall time: 2min 45s

In [40]:
ret_raw['month'] = pd.to_datetime(ret_raw['month']).dt.strftime('%Y-%m-%d')
ret=ret_raw.loc[ret_raw['month'].isin([reporting_month])]

In [41]:
ret.to_csv('ret.csv',index=False,header=True)

In [42]:
ret

,month,geo_region_id,customers_who_ordered_in_previous_month,customers_retained,less_than_two_order_customers,greater_than_two_order_customers,total_orders,orders_less_than_2,orders_greater_than_2,m_1_customers_who_ordered_in_last_to_last_month,m1_customers_retained,m1_less_than_two_order_customers,m1_greater_than_two_order_customers,m1_total_orders,m1_orders_less_than_2,m1_orders_greater_than_2,m1_retention_history
0,2022-07-01,-1772748896,1,0,0,0,0.0,NaN,NaN,1,0,0,0,0.0,NaN,NaN,0
1,2022-07-01,1,143602,74220,36417,37803,377644.0,49719.0,327925.0,145889,53432,21476,31956,324541.0,30430.0,294111.0,42108
2,2022-07-01,2,146022,83962,37895,46067,453833.0,52379.0,401454.0,143952,60770,21840,38930,391090.0,31354.0,359736.0,48241
3,2022-07-01,3,232528,121308,55896,65412,713200.0,76198.0,637002.0,221703,86801,31458,55343,619196.0,44682.0,574514.0,67355
4,2022-07-01,4,100899,40045,22677,17368,170814.0,30184.0,140630.0,95443,25836,11765,14071,139169.0,16307.0,122862.0,19013
5,2022-07-01,5,88001,44785,20471,24314,262060.0,27938.0,234122.0,79608,31624,11258,20366,224933.0,15983.0,208950.0,24912
6,2022-07-01,6,31183,17277,8054,9223,88948.0,11059.0,77889.0,30057,12102,4508,7594,74816.0,6433.0,68383.0,9185
7,2022-07-01,7,5508,1469,877,592,6317.0,1167.0,5150.0,6899,902,439,463,5138.0,617.0,4521.0,641
8,2022-07-01,8,26823,12141,6266,5875,53829.0,8439.0,45390.0,26841,7880,3273,4607,43086.0,4604.0,38482.0,5747
9,2022-07-01,9,4942,1760,1058,702,6906.0,1393.0,5513.0,4607,909,414,495,4903.0,571.0,4332.0,598
10,2022-07-01,10,9154,3484,1819,1665,15491.0,2431.0,13060.0,9910,2183,931,1252,11841.0,1312.0,10529.0,1516
11,2022-07-01,11,4670,1723,930,793,7534.0,1230.0,6304.0,4376,1020,424,596,5870.0,586.0,5284.0,678
12,2022-07-01,12,5543,2029,1106,923,9039.0,1496.0,7543.0,4645,1161,501,660,6760.0,718.0,6042.0,805
13,2022-07-01,13,1497,421,260,161,1511.0,356.0,1155.0,1440,216,109,107,960.0,150.0,810.0,134
14,2022-07-01,14,1201,285,181,104,927.0,221.0,706.0,1111,127,62,65,573.0,73.0,500.0,79
15,2022-07-01,15,950,315,180,135,1250.0,229.0,1021.0,1021,182,75,107,955.0,94.0,861.0,112

In [19]:
%%time
sd=ps
ed=period_end.strftime("%Y-%m-%d")
print(sd,ed)
react_raw= fetch_data("reactivation_raw.sql",connection ="OMS_snapshot",start_date=sd,end_date=ed)

2022-03-01 2022-07-31
CPU times: user 26.4 ms, sys: 28.3 ms, total: 54.7 ms
Wall time: 15min 18s

In [20]:
react_raw.tail(10)

,month,geo_region_id,acc_customers,acc_g30_l60,acc_g60_l90,acc_g90_l120,acc_g120,month,geo_region_id,reactivated_customers,...,reactivated_customers_m2,reactivated_l2_m2,reactivated_g3_m2,reactivated_g30_l60_m2,reactivated_g60_l90_m2,reactivated_g90_l120_m2,reactivated_g120_m2,orders_m2,orders_l2_m2,orders_g3_m2
70,2022-07-01,6,83481,13910,9018,6944,53609,2022-07-01,6,6914,...,1620.0,1059.0,561.0,958.0,245.0,114.0,303.0,4233.0,1448.0,2785.0
71,2022-07-01,7,24548,5264,4467,3092,11725,2022-07-01,7,1006,...,112.0,73.0,39.0,58.0,25.0,11.0,18.0,291.0,95.0,196.0
72,2022-07-01,8,85541,15391,10753,8617,50780,2022-07-01,8,5933,...,1109.0,751.0,358.0,645.0,183.0,93.0,188.0,2831.0,1028.0,1803.0
73,2022-07-01,9,18701,3101,2585,2238,10777,2022-07-01,9,899,...,109.0,82.0,27.0,59.0,21.0,7.0,22.0,212.0,108.0,104.0
74,2022-07-01,10,38950,6450,5567,5355,21578,2022-07-01,10,1575,...,301.0,195.0,106.0,156.0,61.0,28.0,56.0,798.0,259.0,539.0
75,2022-07-01,11,14130,2797,2043,1691,7599,2022-07-01,11,791,...,133.0,82.0,51.0,77.0,25.0,11.0,20.0,364.0,115.0,249.0
76,2022-07-01,12,14864,2856,2184,2103,7721,2022-07-01,12,774,...,146.0,100.0,46.0,86.0,25.0,13.0,22.0,359.0,136.0,223.0
77,2022-07-01,13,5477,1017,842,958,2660,2022-07-01,13,298,...,33.0,23.0,10.0,16.0,9.0,2.0,6.0,88.0,28.0,60.0
78,2022-07-01,14,5085,842,1137,1050,2056,2022-07-01,14,195,...,15.0,12.0,3.0,7.0,3.0,2.0,3.0,33.0,17.0,16.0
79,2022-07-01,15,4084,712,1012,820,1540,2022-07-01,15,178,...,25.0,15.0,10.0,16.0,0.0,2.0,7.0,72.0,25.0,47.0

In [21]:
cols=pd.Series(react_raw.columns)
for dup in react_raw.columns[react_raw.columns.duplicated(keep=False)]: 
    cols[react_raw.columns.get_loc(dup)] = ([dup + '.' + str(d_idx) 
                                     if d_idx != 0 
                                     else dup 
                                     for d_idx in range(react_raw.columns.get_loc(dup).sum())]
                                    )

react_raw.columns=cols

In [22]:
react_raw['month'] = pd.to_datetime(react_raw['month']).dt.strftime('%Y-%m-%d')
react=react_raw.loc[react_raw['month'].isin([reporting_month])]


react.head()

,month,geo_region_id,acc_customers,acc_g30_l60,acc_g60_l90,acc_g90_l120,acc_g120,month.1,geo_region_id.1,reactivated_customers,...,reactivated_customers_m2,reactivated_l2_m2,reactivated_g3_m2,reactivated_g30_l60_m2,reactivated_g60_l90_m2,reactivated_g90_l120_m2,reactivated_g120_m2,orders_m2,orders_l2_m2,orders_g3_m2
63,2022-07-01,-2127329024,1,1,0,0,0,2022-07-01,-2127329024,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2022-07-01,-132471824,1,1,0,0,0,2022-07-01,-132471824,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,2022-07-01,1,663960,71368,50875,40365,501352,2022-07-01,1,37286,...,8234.0,5532.0,2702.0,4363.0,1262.0,634.0,1975.0,21237.0,7465.0,13772.0
66,2022-07-01,2,453236,64569,48019,34386,306262,2022-07-01,2,36038,...,7580.0,5121.0,2459.0,4149.0,1292.0,644.0,1495.0,19403.0,6957.0,12446.0
67,2022-07-01,3,984910,104671,71025,61209,748005,2022-07-01,3,60581,...,13938.0,9435.0,4503.0,7260.0,2130.0,1148.0,3400.0,36765.0,12745.0,24020.0

In [25]:
react = react.loc[react['geo_region_id'] >= 0,]

In [26]:
react.geo_region_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [27]:

sd=period_start.strftime("%Y-%m-%d")
ed=period_end.strftime("%Y-%m-%d")

print(sd,ed)

2022-04-01 2022-07-31

In [28]:
from datetime import date , datetime
from datetime_truncate import truncate

today = str(date.today())
today=datetime.strptime(today, '%Y-%m-%d')
end_date=truncate(today, 'month')
end_date = end_date.strftime("%Y-%m-%d")
end_date

'2022-08-01'

In [45]:
start_date = first_day_of_month(end_date,delta='-1')
start_date

'2022-07-01'

In [30]:
%%time
#lead_raw= fetch_data("leads_raw.sql",connection ="SFMS",start_date=sd,end_date=ed)
lead_raw= fetch_data("leads_raw.sql",connection ="SFMS",start_date=start_date,end_date=end_date)

lead_raw.head()

CPU times: user 11.7 ms, sys: 12 ms, total: 23.7 ms
Wall time: 7min 15s

        month       name           attribution   leads
0  2022-07-01  Ahmedabad   attribution_organic   31630
1  2022-07-01  Ahmedabad      attribution_paid     838
2  2022-07-01  Ahmedabad  attribution_referrer    1441
3  2022-07-01  Ahmedabad                   FOS    2055
4  2022-07-01  Bangalore   attribution_organic  198322

In [52]:
geo_conversions = fetch_data("geo_regions.sql",connection ="OMS")
geo_conversions.head()
lead_raw = lead_raw.merge(geo_conversions,on='geo_region_id',how='left')
lead_raw= lead_raw[['month','geo_region_id','attribution','leads']]
lead_raw.head()

        month  geo_region_id           attribution   leads
0  2022-07-01            6.0   attribution_organic   31630
1  2022-07-01            6.0      attribution_paid     838
2  2022-07-01            6.0  attribution_referrer    1441
3  2022-07-01            6.0                   FOS    2055
4  2022-07-01            3.0   attribution_organic  198322

In [53]:
lead_raw['month'] = pd.to_datetime(lead_raw['month']).dt.strftime('%Y-%m-%d')
lead=lead_raw.loc[lead_raw['month'].isin([reporting_month])]

In [54]:
lead.to_csv('lead.csv',index=False,header=True)

In [55]:
lead.head()

        month  geo_region_id           attribution   leads
0  2022-07-01            6.0   attribution_organic   31630
1  2022-07-01            6.0      attribution_paid     838
2  2022-07-01            6.0  attribution_referrer    1441
3  2022-07-01            6.0                   FOS    2055
4  2022-07-01            3.0   attribution_organic  198322

## Dump Data to Tables

In [35]:
table='raw_acquisition'
write_to_redshift(table,acq,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [43]:
table='raw_retention'
write_to_redshift(table,ret,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [37]:
table='raw_reactivation'
write_to_redshift(table,react,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [56]:
table='raw_leads'
write_to_redshift(table,lead,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [32]:
react

,month,geo_region_id,acc_customers,acc_g30_l60,acc_g60_l90,acc_g90_l120,acc_g120,month.1,geo_region_id.1,reactivated_customers,...,reactivated_customers_m2,reactivated_l2_m2,reactivated_g3_m2,reactivated_g30_l60_m2,reactivated_g60_l90_m2,reactivated_g90_l120_m2,reactivated_g120_m2,orders_m2,orders_l2_m2,orders_g3_m2
62,2022-05-01,1,604784,60994,39271,32340,472179,2022-05-01,1,38805,...,9283.0,6016.0,3267.0,4197.0,1970.0,840.0,2276.0,25199.0,8159.0,17040.0
63,2022-05-01,2,388766,52763,34025,27153,274825,2022-05-01,2,30283,...,8365.0,5446.0,2919.0,4241.0,1789.0,803.0,1532.0,22121.0,7381.0,14740.0
64,2022-05-01,3,912589,92697,60175,52400,707317,2022-05-01,3,61503,...,12944.0,8414.0,4530.0,6145.0,2702.0,1127.0,2970.0,35032.0,11438.0,23594.0
65,2022-05-01,4,405264,47559,33825,26649,297231,2022-05-01,4,26014,...,4362.0,3000.0,1362.0,2080.0,955.0,393.0,934.0,10563.0,4005.0,6558.0
66,2022-05-01,5,280844,34499,22677,17900,205768,2022-05-01,5,18406,...,4273.0,2667.0,1606.0,2014.0,939.0,317.0,1003.0,11745.0,3687.0,8058.0
67,2022-05-01,6,70210,10787,6859,5650,46914,2022-05-01,6,6208,...,1473.0,967.0,506.0,773.0,301.0,107.0,292.0,3959.0,1314.0,2645.0
68,2022-05-01,7,15973,3608,2571,1690,8104,2022-05-01,7,756,...,125.0,78.0,47.0,57.0,32.0,13.0,23.0,422.0,102.0,320.0
69,2022-05-01,8,67094,11693,7353,6482,41566,2022-05-01,8,5020,...,1047.0,684.0,363.0,549.0,236.0,80.0,182.0,2657.0,949.0,1708.0
70,2022-05-01,9,14021,2680,1972,1787,7582,2022-05-01,9,704,...,97.0,63.0,34.0,53.0,21.0,5.0,18.0,255.0,83.0,172.0
71,2022-05-01,10,29398,6306,4266,3361,15465,2022-05-01,10,1570,...,282.0,190.0,92.0,133.0,69.0,28.0,52.0,767.0,265.0,502.0
72,2022-05-01,11,10191,2089,1719,1228,5155,2022-05-01,11,634,...,104.0,66.0,38.0,54.0,24.0,12.0,14.0,258.0,88.0,170.0
73,2022-05-01,12,10700,2565,1856,1467,4812,2022-05-01,12,707,...,137.0,77.0,60.0,62.0,32.0,20.0,23.0,471.0,106.0,365.0
74,2022-05-01,13,3908,1129,752,616,1411,2022-05-01,13,241,...,28.0,20.0,8.0,11.0,5.0,3.0,9.0,75.0,24.0,51.0
75,2022-05-01,14,3267,1178,650,684,755,2022-05-01,14,151,...,15.0,10.0,5.0,12.0,0.0,1.0,2.0,32.0,14.0,18.0
76,2022-05-01,15,2406,895,731,335,445,2022-05-01,15,125,...,18.0,8.0,10.0,9.0,4.0,0.0,5.0,66.0,12.0,54.0