In [1]:
import importlib
import utilities.utils
import utilities.metrics
importlib.reload(utilities.utils)
importlib.reload(utilities.commonly_used_libraries)
importlib.reload(utilities.metrics)
import pandas as pd
import datetime as dt

In [2]:
from utilities.libraries import *
from utilities.connections import *
from utilities.utils import *
from utilities.commonly_used_libraries import *
from utilities.metrics import *

In [3]:

## When You Run The Report

report_run_date = dt.datetime.today()
#report_run_date = date(2022,5,1)
run_date=report_run_date.day

## Get the Previous Month End | Reporting Period End Date
period_end=report_run_date-pd.DateOffset(days=run_date)

## Get the Reporting Period Start Date
period_start=(period_end-pd.DateOffset(months=3)).floor('d')-pd.offsets.MonthBegin(1)
period_start

## Get the Reporting Month
reporting_month=period_end.floor('d')-pd.offsets.MonthBegin(1)
reporting_month=reporting_month.strftime("%Y-%m-%d")
period_start
#period_end

Timestamp('2022-04-01 00:00:00')

In [4]:
sd=period_start.strftime("%Y-%m-%d")
ed=period_end.strftime("%Y-%m-%d")
print(sd,ed)

2022-04-01 2022-07-31

In [5]:
%%time
acq_raw= fetch_data("acquisition_raw_personal.sql", connection ="OMS",start_date=sd,end_date=ed)

CPU times: user 17.3 ms, sys: 10.3 ms, total: 27.6 ms
Wall time: 36.2 s

In [6]:
acq_raw.head()

,month,geo_region_id,customers,customer_less_2,customer_greater_3,orders,orders_less_2,orders_greater_3,customers_m_1,customer_less_2_m_1,customer_greater_3_m_1,orders_m_1,orders_less_2_m_1,orders_greater_3_m_1,customers_m_2
0,2022-04-01,1,15574,14728,846,20445.0,16617.0,3828.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-01,2,19654,18251,1403,27047.0,20768.0,6279.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-01,3,24371,23139,1232,32027.0,26168.0,5859.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-04-01,4,15985,15312,673,19852.0,17049.0,2803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-04-01,5,10959,10328,631,14538.0,11616.0,2922.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
acq_raw.to_csv('acq_personal.csv',index=False,header=True)

In [8]:
reporting_month=period_end.floor('d')-pd.offsets.MonthBegin(1)
reporting_month=reporting_month.strftime("%Y-%m-%d")
reporting_month

'2022-07-01'

In [9]:
acq_raw['month'] = pd.to_datetime(acq_raw['month']).dt.strftime('%Y-%m-%d')
acq=acq_raw.loc[acq_raw['month'].isin([reporting_month])]

In [10]:
acq.to_csv('acq_personal.csv',index=False,header=True)

In [11]:
def get_sqlalchemy_engine():
   engine_query = (f"""postgresql+psycopg2://anant:Resfeber123@commons-prod-redshift.porter.in:5439/porter""")
   engine = create_engine(engine_query, echo = False)
   return engine
def write_to_redshift(table_name,  dataframe,  engine, schema):
   dataframe.to_sql(table_name,  engine,  if_exists = 'append',  chunksize = 1000,  index = False)
redshift_engine = get_sqlalchemy_engine()

In [12]:
acq

,month,geo_region_id,customers,customer_less_2,customer_greater_3,orders,orders_less_2,orders_greater_3,customers_m_1,customer_less_2_m_1,customer_greater_3_m_1,orders_m_1,orders_less_2_m_1,orders_greater_3_m_1,customers_m_2
45,2022-07-01,1,14793,13954,839,19659.0,15697.0,3962.0,2388.0,1868.0,520.0,5538.0,2264.0,3274.0,1064.0
46,2022-07-01,2,20230,18991,1239,26838.0,21436.0,5402.0,3781.0,2850.0,931.0,9071.0,3574.0,5497.0,1699.0
47,2022-07-01,3,30602,28921,1681,40070.0,32428.0,7642.0,5350.0,4159.0,1191.0,12247.0,5118.0,7129.0,2384.0
48,2022-07-01,4,16554,15860,694,20451.0,17644.0,2807.0,2484.0,2077.0,407.0,4743.0,2551.0,2192.0,897.0
49,2022-07-01,5,11720,11026,694,15459.0,12402.0,3057.0,2142.0,1662.0,480.0,5124.0,2093.0,3031.0,843.0
50,2022-07-01,6,3852,3574,278,5290.0,4149.0,1141.0,746.0,557.0,189.0,1838.0,692.0,1146.0,364.0
51,2022-07-01,7,788,764,24,937.0,836.0,101.0,71.0,65.0,6.0,95.0,76.0,19.0,18.0
52,2022-07-01,8,5310,5071,239,6673.0,5667.0,1006.0,721.0,556.0,165.0,1592.0,677.0,915.0,271.0
53,2022-07-01,9,1255,1182,73,1679.0,1383.0,296.0,229.0,188.0,41.0,434.0,240.0,194.0,58.0
54,2022-07-01,10,1290,1233,57,1670.0,1433.0,237.0,158.0,111.0,47.0,385.0,131.0,254.0,83.0
55,2022-07-01,11,863,828,35,1060.0,924.0,136.0,123.0,99.0,24.0,236.0,117.0,119.0,40.0
56,2022-07-01,12,750,725,25,879.0,787.0,92.0,66.0,55.0,11.0,126.0,70.0,56.0,20.0
57,2022-07-01,13,181,179,2,203.0,196.0,7.0,18.0,16.0,2.0,25.0,19.0,6.0,3.0
58,2022-07-01,14,221,215,6,272.0,242.0,30.0,15.0,15.0,0.0,17.0,17.0,0.0,1.0
59,2022-07-01,15,183,176,7,221.0,198.0,23.0,10.0,9.0,1.0,16.0,10.0,6.0,2.0

In [13]:
ps=period_start-pd.DateOffset(months=1)
ps=ps.strftime("%Y-%m-%d")
ps

'2022-03-01'

In [14]:
sd=ps
ed=period_end.strftime("%Y-%m-%d")
print(sd,ed)

2022-03-01 2022-07-31

In [15]:
%%time

ret_raw= fetch_data("retention_raw_personal.sql",connection ="OMS",start_date=sd,end_date=ed)

CPU times: user 26.7 ms, sys: 17.3 ms, total: 44 ms
Wall time: 9min 17s

In [16]:
ret_raw['month'] = pd.to_datetime(ret_raw['month']).dt.strftime('%Y-%m-%d')
ret=ret_raw.loc[ret_raw['month'].isin([reporting_month])]

In [17]:
ret.to_csv('ret_personal.csv',index=False,header=True)

In [18]:
ret

,month,geo_region_id,customers_who_ordered_in_previous_month,customers_retained,less_than_two_order_customers,greater_than_two_order_customers,total_orders,orders_less_than_2,orders_greater_than_2,m_1_customers_who_ordered_in_last_to_last_month,m1_customers_retained,m1_less_than_two_order_customers,m1_greater_than_two_order_customers,m1_total_orders,m1_orders_less_than_2,m1_orders_greater_than_2,m1_retention_history
15,2022-07-01,-1772748896,1,0,0,0,0.0,NaN,NaN,1,0,0,0,0.0,NaN,NaN,0
16,2022-07-01,1,49902,20282,11421,8861,85159.0,15268.0,69891.0,51951,13095,5982,7113,68629.0,8368.0,60261.0,9687
17,2022-07-01,2,56032,25956,13800,12156,115490.0,18676.0,96814.0,55793,16978,7107,9871,94581.0,10099.0,84482.0,12796
18,2022-07-01,3,105044,44466,24794,19672,195685.0,33071.0,162614.0,100926,28194,12414,15780,158309.0,17402.0,140907.0,19960
19,2022-07-01,4,46734,14552,9513,5039,48349.0,12384.0,35965.0,44918,8175,4366,3809,35639.0,5940.0,29699.0,5519
20,2022-07-01,5,35415,13595,7537,6058,60501.0,10061.0,50440.0,32127,8424,3626,4798,48364.0,5087.0,43277.0,6168
21,2022-07-01,6,9803,4253,2308,1945,17568.0,3077.0,14491.0,9649,2694,1185,1509,13822.0,1660.0,12162.0,1885
22,2022-07-01,7,1809,284,191,93,1044.0,242.0,802.0,2420,146,75,71,795.0,103.0,692.0,100
23,2022-07-01,8,9571,2964,1826,1138,10604.0,2348.0,8256.0,10317,1586,777,809,7648.0,1069.0,6579.0,1045
24,2022-07-01,9,2139,549,376,173,1699.0,479.0,1220.0,1937,219,113,106,1044.0,147.0,897.0,125
25,2022-07-01,10,2552,623,376,247,2075.0,480.0,1595.0,2842,338,167,171,1400.0,228.0,1172.0,189
26,2022-07-01,11,1593,390,257,133,1157.0,319.0,838.0,1474,176,87,89,734.0,112.0,622.0,108
27,2022-07-01,12,1312,292,174,118,1199.0,232.0,967.0,1170,150,68,82,858.0,95.0,763.0,100
28,2022-07-01,13,271,55,37,18,154.0,44.0,110.0,255,23,9,14,105.0,12.0,93.0,17
29,2022-07-01,14,365,51,38,13,125.0,46.0,79.0,325,21,12,9,77.0,16.0,61.0,16
30,2022-07-01,15,301,80,47,33,269.0,55.0,214.0,339,48,18,30,223.0,21.0,202.0,28

In [19]:
%%time
sd=ps
ed=period_end.strftime("%Y-%m-%d")
print(sd,ed)
react_raw= fetch_data("reactivation_raw_personal.sql",connection ="OMS",start_date=sd,end_date=ed)
#react_raw.to_excel('react_raw_personal.xlsx', index=False, header=True)

2022-03-01 2022-07-31
CPU times: user 26.7 ms, sys: 28.6 ms, total: 55.2 ms
Wall time: 5min 35s

In [20]:
react_raw.tail(10)

,month,geo_region_id,acc_customers,acc_g30_l60,acc_g60_l90,acc_g90_l120,acc_g120,month,geo_region_id,reactivated_customers,...,reactivated_customers_m2,reactivated_l2_m2,reactivated_g3_m2,reactivated_g30_l60_m2,reactivated_g60_l90_m2,reactivated_g90_l120_m2,reactivated_g120_m2,orders_m2,orders_l2_m2,orders_g3_m2
67,2022-07-01,6,37441,5691,3760,3065,24925,2022-07-01,6,2418,...,442.0,283.0,159.0,260.0,68.0,47.0,67.0,1154.0,382.0,772.0
68,2022-07-01,7,9837,2089,1861,1180,4707,2022-07-01,7,282,...,24.0,16.0,8.0,16.0,5.0,0.0,3.0,55.0,20.0,35.0
69,2022-07-01,8,46664,7519,5513,4555,29077,2022-07-01,8,2293,...,265.0,193.0,72.0,141.0,47.0,20.0,57.0,611.0,256.0,355.0
70,2022-07-01,9,8253,1496,1140,970,4647,2022-07-01,9,353,...,31.0,26.0,5.0,18.0,7.0,1.0,5.0,55.0,34.0,21.0
71,2022-07-01,10,12798,2194,1876,2129,6599,2022-07-01,10,367,...,61.0,40.0,21.0,39.0,6.0,3.0,13.0,155.0,50.0,105.0
72,2022-07-01,11,6010,1144,856,699,3311,2022-07-01,11,224,...,23.0,12.0,11.0,13.0,3.0,2.0,5.0,76.0,16.0,60.0
73,2022-07-01,12,5324,888,718,687,3031,2022-07-01,12,240,...,22.0,15.0,7.0,13.0,3.0,1.0,5.0,64.0,21.0,43.0
74,2022-07-01,13,1388,203,202,205,778,2022-07-01,13,57,...,2.0,2.0,0.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0
75,2022-07-01,14,1950,270,435,380,865,2022-07-01,14,44,...,4.0,4.0,0.0,2.0,0.0,1.0,1.0,5.0,5.0,0.0
76,2022-07-01,15,1403,251,301,222,629,2022-07-01,15,73,...,6.0,3.0,3.0,2.0,0.0,0.0,4.0,26.0,6.0,20.0

In [21]:
cols=pd.Series(react_raw.columns)
for dup in react_raw.columns[react_raw.columns.duplicated(keep=False)]: 
    cols[react_raw.columns.get_loc(dup)] = ([dup + '.' + str(d_idx) 
                                     if d_idx != 0 
                                     else dup 
                                     for d_idx in range(react_raw.columns.get_loc(dup).sum())]
                                    )

react_raw.columns=cols

In [22]:
react_raw['month'] = pd.to_datetime(react_raw['month']).dt.strftime('%Y-%m-%d')
react=react_raw.loc[react_raw['month'].isin([reporting_month])]


react.head()

,month,geo_region_id,acc_customers,acc_g30_l60,acc_g60_l90,acc_g90_l120,acc_g120,month.1,geo_region_id.1,reactivated_customers,...,reactivated_customers_m2,reactivated_l2_m2,reactivated_g3_m2,reactivated_g30_l60_m2,reactivated_g60_l90_m2,reactivated_g90_l120_m2,reactivated_g120_m2,orders_m2,orders_l2_m2,orders_g3_m2
62,2022-07-01,1,344563,31685,23744,19106,270028,2022-07-01,1,14272,...,2358.0,1649.0,709.0,1175.0,362.0,194.0,627.0,5721.0,2225.0,3496.0
63,2022-07-01,2,245690,31591,24783,18209,171107,2022-07-01,2,15294,...,2492.0,1766.0,726.0,1290.0,470.0,228.0,504.0,6012.0,2365.0,3647.0
64,2022-07-01,3,628325,58750,40231,35443,493901,2022-07-01,3,32871,...,5870.0,4208.0,1662.0,2832.0,892.0,535.0,1611.0,14294.0,5581.0,8713.0
65,2022-07-01,4,286837,30313,23124,19492,213908,2022-07-01,4,13169,...,1764.0,1284.0,480.0,816.0,304.0,190.0,454.0,3990.0,1704.0,2286.0
66,2022-07-01,5,183638,19243,14906,12924,136565,2022-07-01,5,8904,...,1413.0,993.0,420.0,709.0,234.0,118.0,352.0,3290.0,1335.0,1955.0

In [23]:
react

,month,geo_region_id,acc_customers,acc_g30_l60,acc_g60_l90,acc_g90_l120,acc_g120,month.1,geo_region_id.1,reactivated_customers,...,reactivated_customers_m2,reactivated_l2_m2,reactivated_g3_m2,reactivated_g30_l60_m2,reactivated_g60_l90_m2,reactivated_g90_l120_m2,reactivated_g120_m2,orders_m2,orders_l2_m2,orders_g3_m2
62,2022-07-01,1,344563,31685,23744,19106,270028,2022-07-01,1,14272,...,2358.0,1649.0,709.0,1175.0,362.0,194.0,627.0,5721.0,2225.0,3496.0
63,2022-07-01,2,245690,31591,24783,18209,171107,2022-07-01,2,15294,...,2492.0,1766.0,726.0,1290.0,470.0,228.0,504.0,6012.0,2365.0,3647.0
64,2022-07-01,3,628325,58750,40231,35443,493901,2022-07-01,3,32871,...,5870.0,4208.0,1662.0,2832.0,892.0,535.0,1611.0,14294.0,5581.0,8713.0
65,2022-07-01,4,286837,30313,23124,19492,213908,2022-07-01,4,13169,...,1764.0,1284.0,480.0,816.0,304.0,190.0,454.0,3990.0,1704.0,2286.0
66,2022-07-01,5,183638,19243,14906,12924,136565,2022-07-01,5,8904,...,1413.0,993.0,420.0,709.0,234.0,118.0,352.0,3290.0,1335.0,1955.0
67,2022-07-01,6,37441,5691,3760,3065,24925,2022-07-01,6,2418,...,442.0,283.0,159.0,260.0,68.0,47.0,67.0,1154.0,382.0,772.0
68,2022-07-01,7,9837,2089,1861,1180,4707,2022-07-01,7,282,...,24.0,16.0,8.0,16.0,5.0,0.0,3.0,55.0,20.0,35.0
69,2022-07-01,8,46664,7519,5513,4555,29077,2022-07-01,8,2293,...,265.0,193.0,72.0,141.0,47.0,20.0,57.0,611.0,256.0,355.0
70,2022-07-01,9,8253,1496,1140,970,4647,2022-07-01,9,353,...,31.0,26.0,5.0,18.0,7.0,1.0,5.0,55.0,34.0,21.0
71,2022-07-01,10,12798,2194,1876,2129,6599,2022-07-01,10,367,...,61.0,40.0,21.0,39.0,6.0,3.0,13.0,155.0,50.0,105.0
72,2022-07-01,11,6010,1144,856,699,3311,2022-07-01,11,224,...,23.0,12.0,11.0,13.0,3.0,2.0,5.0,76.0,16.0,60.0
73,2022-07-01,12,5324,888,718,687,3031,2022-07-01,12,240,...,22.0,15.0,7.0,13.0,3.0,1.0,5.0,64.0,21.0,43.0
74,2022-07-01,13,1388,203,202,205,778,2022-07-01,13,57,...,2.0,2.0,0.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0
75,2022-07-01,14,1950,270,435,380,865,2022-07-01,14,44,...,4.0,4.0,0.0,2.0,0.0,1.0,1.0,5.0,5.0,0.0
76,2022-07-01,15,1403,251,301,222,629,2022-07-01,15,73,...,6.0,3.0,3.0,2.0,0.0,0.0,4.0,26.0,6.0,20.0

In [24]:
react.geo_region_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [25]:

sd=period_start.strftime("%Y-%m-%d")
ed=period_end.strftime("%Y-%m-%d")

print(sd,ed)

2022-04-01 2022-07-31

In [26]:
from datetime import date , datetime
from datetime_truncate import truncate

today = str(date.today())
today=datetime.strptime(today, '%Y-%m-%d')
end_date=truncate(today, 'month')
end_date = end_date.strftime("%Y-%m-%d")
end_date

'2022-08-01'

In [27]:
start_date = first_day_of_month(end_date,delta='-1')
start_date

'2022-07-01'

In [28]:
%%time
lead_raw= fetch_data("leads_raw_personal.sql",connection ="SFMS",start_date=start_date , end_date=end_date)

lead_raw.head()

CPU times: user 20.5 ms, sys: 28.3 ms, total: 48.8 ms
Wall time: 7min 25s

        month       name           attribution  leads
0  2022-07-01  Ahmedabad   attribution_organic   7802
1  2022-07-01  Ahmedabad      attribution_paid    540
2  2022-07-01  Ahmedabad  attribution_referrer    815
3  2022-07-01  Ahmedabad                   FOS     23
4  2022-07-01  Bangalore   attribution_organic  94946

In [29]:
geo_conversions = fetch_data("geo_regions.sql",connection ="OMS")
geo_conversions.head()
lead_raw = lead_raw.merge(geo_conversions,on='name',how='left')
lead_raw= lead_raw[['month','geo_region_id','attribution','leads']]
lead_raw.head()

        month  geo_region_id           attribution  leads
0  2022-07-01            6.0   attribution_organic   7802
1  2022-07-01            6.0      attribution_paid    540
2  2022-07-01            6.0  attribution_referrer    815
3  2022-07-01            6.0                   FOS     23
4  2022-07-01            3.0   attribution_organic  94946

In [30]:
lead_raw['month'] = pd.to_datetime(lead_raw['month']).dt.strftime('%Y-%m-%d')
lead=lead_raw.loc[lead_raw['month'].isin([reporting_month])]

In [31]:
lead.to_csv('lead_personal.csv',index=False,header=True)

In [32]:
lead.head()

        month  geo_region_id           attribution  leads
0  2022-07-01            6.0   attribution_organic   7802
1  2022-07-01            6.0      attribution_paid    540
2  2022-07-01            6.0  attribution_referrer    815
3  2022-07-01            6.0                   FOS     23
4  2022-07-01            3.0   attribution_organic  94946

## Dump Data to Tables

In [33]:
table='raw_acquisition_personal'
write_to_redshift(table,acq,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [34]:
table='raw_retention_personal'
write_to_redshift(table,ret,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [35]:
table='raw_reactivation_personal'
write_to_redshift(table,react,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [36]:
table='raw_leads_personal'
write_to_redshift(table,lead,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [ ]:
react