In [1]:
import importlib
import utilities.utils
import utilities.metrics
importlib.reload(utilities.utils)
importlib.reload(utilities.commonly_used_libraries)
importlib.reload(utilities.metrics)
import pandas as pd
import datetime as dt

In [2]:
from utilities.libraries import *
from utilities.connections import *
from utilities.utils import *
from utilities.commonly_used_libraries import *
from utilities.metrics import *

In [3]:

## When You Run The Report

report_run_date = dt.datetime.today()
run_date=report_run_date.day

## Get the Previous Month End | Reporting Period End Date
period_end=report_run_date-pd.DateOffset(days=run_date)

## Get the Reporting Period Start Date
period_start=(period_end-pd.DateOffset(months=3)).floor('d')-pd.offsets.MonthBegin(1)
period_start

## Get the Reporting Month
reporting_month=period_end.floor('d')-pd.offsets.MonthBegin(1)
reporting_month=reporting_month.strftime("%Y-%m-%d")
period_start
#period_end

Timestamp('2022-04-01 00:00:00')

In [4]:
sd=period_start.strftime("%Y-%m-%d")
ed=period_end.strftime("%Y-%m-%d")
print(sd,ed)

2022-04-01 2022-07-31

In [6]:
%%time
acq_raw= fetch_data("acquisition_raw_business.sql", connection ="OMS_snapshot",start_date=sd,end_date=ed)

CPU times: user 11.7 ms, sys: 22.5 ms, total: 34.2 ms
Wall time: 40.9 s

In [7]:
acq_raw.head()

,month,geo_region_id,customers,customer_less_2,customer_greater_3,orders,orders_less_2,orders_greater_3,customers_m_1,customer_less_2_m_1,customer_greater_3_m_1,orders_m_1,orders_less_2_m_1,orders_greater_3_m_1,customers_m_2
0,2022-04-01,1,12817,11309,1508,20878.0,13309.0,7569.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-01,2,15298,13077,2221,27238.0,15719.0,11519.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-01,3,12786,10982,1804,23234.0,13130.0,10104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-04-01,4,8165,7231,934,13081.0,8537.0,4544.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-04-01,5,7228,6186,1042,13063.0,7409.0,5654.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
acq_raw.to_csv('acq.csv',index=False,header=True)

In [9]:
reporting_month=period_end.floor('d')-pd.offsets.MonthBegin(1)
reporting_month=reporting_month.strftime("%Y-%m-%d")
reporting_month

'2022-07-01'

In [10]:
acq_raw['month'] = pd.to_datetime(acq_raw['month']).dt.strftime('%Y-%m-%d')
acq=acq_raw.loc[acq_raw['month'].isin([reporting_month])]

In [11]:
acq.to_csv('acq.csv',index=False,header=True)

In [12]:
def get_sqlalchemy_engine():
   engine_query = (f"""postgresql+psycopg2://anant:Resfeber123@commons-prod-redshift.porter.in:5439/porter""")
   engine = create_engine(engine_query, echo = False)
   return engine
def write_to_redshift(table_name,  dataframe,  engine, schema):
   dataframe.to_sql(table_name,  engine,  if_exists = 'append',  chunksize = 1000,  index = False)
redshift_engine = get_sqlalchemy_engine()

In [13]:
acq

,month,geo_region_id,customers,customer_less_2,customer_greater_3,orders,orders_less_2,orders_greater_3,customers_m_1,customer_less_2_m_1,customer_greater_3_m_1,orders_m_1,orders_less_2_m_1,orders_greater_3_m_1,customers_m_2
45,2022-07-01,1,12146,10800,1346,19810.0,12675.0,7135.0,3488.0,2375.0,1113.0,10920.0,3055.0,7865.0,1947.0
46,2022-07-01,2,15759,13562,2197,27710.0,16257.0,11453.0,5218.0,3303.0,1915.0,17712.0,4374.0,13338.0,3173.0
47,2022-07-01,3,14661,12725,1936,26076.0,14924.0,11152.0,4890.0,3000.0,1890.0,19654.0,3925.0,15729.0,2909.0
48,2022-07-01,4,7586,6789,797,12030.0,7938.0,4092.0,2357.0,1684.0,673.0,6403.0,2180.0,4223.0,1291.0
49,2022-07-01,5,7681,6582,1099,14094.0,7851.0,6243.0,2813.0,1784.0,1029.0,10688.0,2310.0,8378.0,1601.0
50,2022-07-01,6,4814,4217,597,7784.0,5061.0,2723.0,1575.0,1063.0,512.0,4887.0,1386.0,3501.0,922.0
51,2022-07-01,7,978,901,77,1390.0,1034.0,356.0,193.0,147.0,46.0,437.0,186.0,251.0,117.0
52,2022-07-01,8,4197,3606,591,7300.0,4322.0,2978.0,1274.0,826.0,448.0,3825.0,1085.0,2740.0,695.0
53,2022-07-01,9,932,796,136,1554.0,956.0,598.0,292.0,198.0,94.0,839.0,258.0,581.0,125.0
54,2022-07-01,10,2421,2159,262,3717.0,2450.0,1267.0,494.0,334.0,160.0,1582.0,431.0,1151.0,269.0
55,2022-07-01,11,850,760,90,1317.0,891.0,426.0,255.0,172.0,83.0,670.0,229.0,441.0,148.0
56,2022-07-01,12,1366,1254,112,1885.0,1434.0,451.0,408.0,290.0,118.0,1050.0,367.0,683.0,161.0
57,2022-07-01,13,629,574,55,901.0,662.0,239.0,104.0,71.0,33.0,259.0,98.0,161.0,45.0
58,2022-07-01,14,498,453,45,709.0,520.0,189.0,72.0,55.0,17.0,157.0,64.0,93.0,24.0
59,2022-07-01,15,439,408,31,564.0,452.0,112.0,45.0,36.0,9.0,95.0,47.0,48.0,20.0

In [14]:
ps=period_start-pd.DateOffset(months=1)
ps=ps.strftime("%Y-%m-%d")
ps

'2022-03-01'

In [15]:
sd=ps
ed=period_end.strftime("%Y-%m-%d")
print(sd,ed)

2022-03-01 2022-07-31

In [16]:
%%time

ret_raw= fetch_data("retention_raw_business.sql",connection ="OMS",start_date=sd,end_date=ed)

CPU times: user 24.2 ms, sys: 14.4 ms, total: 38.6 ms
Wall time: 7min 25s

In [17]:
ret_raw['month'] = pd.to_datetime(ret_raw['month']).dt.strftime('%Y-%m-%d')
ret=ret_raw.loc[ret_raw['month'].isin([reporting_month])]

In [18]:
ret.to_csv('ret_business.csv',index=False,header=True)

In [19]:
ret

,month,geo_region_id,customers_who_ordered_in_previous_month,customers_retained,less_than_two_order_customers,greater_than_two_order_customers,total_orders,orders_less_than_2,orders_greater_than_2,m_1_customers_who_ordered_in_last_to_last_month,m1_customers_retained,m1_less_than_two_order_customers,m1_greater_than_two_order_customers,m1_total_orders,m1_orders_less_than_2,m1_orders_greater_than_2,m1_retention_history
16,2022-07-01,1,81907,48922,22720,26202,264722.0,31337.0,233385.0,82294,36612,14170,22442,231301.0,20166.0,211135.0,29319
17,2022-07-01,2,85492,56675,23346,33329,332590.0,32725.0,299865.0,83782,42987,14390,28597,291869.0,20786.0,271083.0,34844
18,2022-07-01,3,110155,71366,28390,42976,485000.0,39558.0,445442.0,104619,54977,17780,37197,432341.0,25480.0,406861.0,44548
19,2022-07-01,4,43100,23230,11664,11566,114012.0,15910.0,98102.0,40878,16511,6868,9643,97028.0,9653.0,87375.0,12704
20,2022-07-01,5,47000,29714,12177,17537,193420.0,16884.0,176536.0,42908,22261,7300,14961,169537.0,10429.0,159108.0,18018
21,2022-07-01,6,20651,12830,5641,7189,70575.0,7847.0,62728.0,19647,9293,3281,6012,60351.0,4715.0,55636.0,7218
22,2022-07-01,7,3049,1121,635,486,5125.0,865.0,4260.0,3707,730,349,381,4243.0,494.0,3749.0,525
23,2022-07-01,8,14989,8788,4144,4644,42172.0,5719.0,36453.0,14394,6126,2396,3730,34742.0,3407.0,31335.0,4610
24,2022-07-01,9,2410,1140,624,516,5045.0,841.0,4204.0,2247,663,286,377,3752.0,403.0,3349.0,455
25,2022-07-01,10,6237,2793,1401,1392,13124.0,1895.0,11229.0,6668,1805,747,1058,10194.0,1062.0,9132.0,1296
26,2022-07-01,11,2659,1285,640,645,6156.0,871.0,5285.0,2523,825,328,497,4971.0,461.0,4510.0,555
27,2022-07-01,12,3897,1705,905,800,7718.0,1231.0,6487.0,3254,994,420,574,5800.0,606.0,5194.0,698
28,2022-07-01,13,1109,355,214,141,1336.0,303.0,1033.0,1065,189,97,92,843.0,135.0,708.0,114
29,2022-07-01,14,690,222,132,90,785.0,162.0,623.0,665,102,46,56,493.0,54.0,439.0,61
30,2022-07-01,15,542,226,124,102,970.0,163.0,807.0,540,132,55,77,729.0,70.0,659.0,84

In [20]:
%%time
sd=ps
ed=period_end.strftime("%Y-%m-%d")
print(sd,ed)
react_raw= fetch_data("reactivation_raw_business.sql",connection ="OMS_snapshot",start_date=sd,end_date=ed)
react_raw.to_excel('react_raw_business.xlsx', index=False, header=True)

# react_raw = pd.read_excel('react_raw_business.xlsx')

2022-03-01 2022-07-31
CPU times: user 79.8 ms, sys: 48.9 ms, total: 129 ms
Wall time: 5min 17s

In [21]:
react_raw.tail(10)

,month,geo_region_id,acc_customers,acc_g30_l60,acc_g60_l90,acc_g90_l120,acc_g120,month,geo_region_id,reactivated_customers,...,reactivated_customers_m2,reactivated_l2_m2,reactivated_g3_m2,reactivated_g30_l60_m2,reactivated_g60_l90_m2,reactivated_g90_l120_m2,reactivated_g120_m2,orders_m2,orders_l2_m2,orders_g3_m2
68,2022-07-01,6,42330,7653,4866,3550,26261,2022-07-01,6,4356,...,1159.0,760.0,399.0,686.0,176.0,65.0,232.0,3050.0,1049.0,2001.0
69,2022-07-01,7,11719,2470,2080,1552,5617,2022-07-01,7,641,...,84.0,53.0,31.0,39.0,20.0,11.0,14.0,230.0,69.0,161.0
70,2022-07-01,8,28729,6097,4023,3050,15559,2022-07-01,8,3234,...,811.0,536.0,275.0,489.0,130.0,68.0,124.0,2145.0,747.0,1398.0
71,2022-07-01,9,8393,1243,1184,1068,4898,2022-07-01,9,491,...,78.0,56.0,22.0,41.0,14.0,6.0,17.0,157.0,74.0,83.0
72,2022-07-01,10,24369,3932,3457,3045,13935,2022-07-01,10,1165,...,235.0,150.0,85.0,115.0,54.0,25.0,41.0,635.0,201.0,434.0
73,2022-07-01,11,6581,1319,921,805,3536,2022-07-01,11,525,...,108.0,68.0,40.0,64.0,21.0,8.0,15.0,286.0,97.0,189.0
74,2022-07-01,12,8586,1784,1338,1251,4213,2022-07-01,12,503,...,121.0,83.0,38.0,71.0,21.0,12.0,17.0,287.0,113.0,174.0
75,2022-07-01,13,3565,707,562,660,1636,2022-07-01,13,221,...,31.0,21.0,10.0,14.0,9.0,2.0,6.0,86.0,26.0,60.0
76,2022-07-01,14,2682,467,608,583,1024,2022-07-01,14,134,...,10.0,7.0,3.0,5.0,2.0,1.0,2.0,27.0,11.0,16.0
77,2022-07-01,15,2124,332,559,495,738,2022-07-01,15,94,...,18.0,11.0,7.0,13.0,0.0,2.0,3.0,44.0,17.0,27.0

In [22]:
cols=pd.Series(react_raw.columns)
for dup in react_raw.columns[react_raw.columns.duplicated(keep=False)]: 
    cols[react_raw.columns.get_loc(dup)] = ([dup + '.' + str(d_idx) 
                                     if d_idx != 0 
                                     else dup 
                                     for d_idx in range(react_raw.columns.get_loc(dup).sum())]
                                    )

react_raw.columns=cols

In [23]:
react_raw['month'] = pd.to_datetime(react_raw['month']).dt.strftime('%Y-%m-%d')
react=react_raw.loc[react_raw['month'].isin([reporting_month])]


react.head()

,month,geo_region_id,acc_customers,acc_g30_l60,acc_g60_l90,acc_g90_l120,acc_g120,month.1,geo_region_id.1,reactivated_customers,...,reactivated_customers_m2,reactivated_l2_m2,reactivated_g3_m2,reactivated_g30_l60_m2,reactivated_g60_l90_m2,reactivated_g90_l120_m2,reactivated_g120_m2,orders_m2,orders_l2_m2,orders_g3_m2
61,2022-07-01,-2127329024,1,1,0,0,0,2022-07-01,-2127329024,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2022-07-01,-132471824,1,1,0,0,0,2022-07-01,-132471824,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2022-07-01,1,256251,33126,22560,17319,183246,2022-07-01,1,20706,...,5373.0,3543.0,1830.0,2919.0,818.0,404.0,1232.0,14195.0,4775.0,9420.0
64,2022-07-01,2,184324,29851,20579,14304,119590,2022-07-01,2,19794,...,4975.0,3275.0,1700.0,2800.0,802.0,411.0,962.0,13105.0,4485.0,8620.0
65,2022-07-01,3,271982,35112,22706,18849,195315,2022-07-01,3,24154,...,7534.0,4870.0,2664.0,4168.0,1149.0,575.0,1642.0,21048.0,6688.0,14360.0

In [24]:
react.geo_region_id.unique()

array([-2127329024,  -132471824,           1,           2,           3,
                 4,           5,           6,           7,           8,
                 9,          10,          11,          12,          13,
                14,          15])

In [25]:

sd=period_start.strftime("%Y-%m-%d")
ed=period_end.strftime("%Y-%m-%d")

print(sd,ed)

2022-04-01 2022-07-31

In [26]:
from datetime import date , datetime
from datetime_truncate import truncate

today = str(date.today())
today=datetime.strptime(today, '%Y-%m-%d')
end_date=truncate(today, 'month')
end_date = end_date.strftime("%Y-%m-%d")
end_date

'2022-08-01'

In [27]:
start_date = first_day_of_month(end_date,delta='-1')
start_date

'2022-07-01'

In [28]:
%%time

lead_raw= fetch_data("leads_raw_business.sql",connection ="SFMS",start_date=start_date, end_date=end_date)

lead_raw.head()

CPU times: user 13.9 ms, sys: 12.3 ms, total: 26.2 ms
Wall time: 2min 48s

        month       name           attribution  leads
0  2022-07-01  Ahmedabad   attribution_organic  11752
1  2022-07-01  Ahmedabad      attribution_paid    250
2  2022-07-01  Ahmedabad  attribution_referrer    626
3  2022-07-01  Ahmedabad                   FOS   2032
4  2022-07-01  Bangalore   attribution_organic  43725

In [29]:
geo_conversions = fetch_data("geo_regions.sql",connection ="OMS")
geo_conversions.head()
lead_raw = lead_raw.merge(geo_conversions,on='name',how='left')
lead_raw= lead_raw[['month','geo_region_id','attribution','leads']]
lead_raw.head()

        month  geo_region_id           attribution  leads
0  2022-07-01            6.0   attribution_organic  11752
1  2022-07-01            6.0      attribution_paid    250
2  2022-07-01            6.0  attribution_referrer    626
3  2022-07-01            6.0                   FOS   2032
4  2022-07-01            3.0   attribution_organic  43725

In [30]:
lead_raw['month'] = pd.to_datetime(lead_raw['month']).dt.strftime('%Y-%m-%d')
lead=lead_raw.loc[lead_raw['month'].isin([reporting_month])]

In [31]:
lead.to_csv('lead.csv',index=False,header=True)

In [ ]:
lead.head()

## Dump Data to Tables

In [32]:
table='raw_acquisition_business'
write_to_redshift(table,acq,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [33]:
table='raw_retention_business'
write_to_redshift(table,ret,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [34]:
table='raw_reactivation_business'
write_to_redshift(table,react,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [35]:
table='raw_leads_business'
write_to_redshift(table,lead,redshift_engine,"anant")

Using monkey-patched _execute_insert

In [ ]:
react